<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap-grid.css" rel="stylesheet"/>
     <script src="~/Scripts/jquery-3.7.0.js"></script>
    <script src="~/Scripts/umd/popper.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="jumbotron">
            <h1>Index</h1>
            <p>Welcome to Index Page</p>
        </div>
    </div>
</body>
</html>
